.PlotInteractionBox-panningOverlay {
  position: fixed;
  z-index:9999;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  cursor: grabbing;
}

.PlotInteractionBox-selectingOverlay {
  position: fixed;
  z-index:9999;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  cursor: nesw-resize;
}
